@font-face{
    font-family: babasneueblod;
    src: url(fuentes/babasneueblod.otf);
}
body {
    background-color : rgb(0, 153, 255);
    height: 10cm;
    width: 50cm;  
    margin: 0;  
} 

table {
    text-align: center;
    border-radius: 15px;
    background-color: rgb(162, 0, 255);
    height: 17cm;
    width: 20cm;
}
td{
    height: 2cm;
}

td[id="limpiar"]{
    height: 2cm;
}
td[id="botones"]{
    height: 40px;

}



div{
    width: 50cm;
    margin: 0;
}

table[id='calc']{
    height: 15cm;
    width: 20cm;
}

p[id="actu"]{
    line-height: 30px;
    font-size: 28;
}

p[id="formulas"]{
    line-height: 80px;
    font-size: 40;
}

td[id="form"]{
    background-color: rgb(183, 0, 255);
    border-radius: 15px;
    
}

button{
    color: rgb(154, 47, 253);
    background-color: rgb(82, 0, 136);
    font-family: babasneueblod;
    font-size: 40;
    font-weight: 800;
    border-color: rgb(154, 47, 253);
    border-radius: 15px;
    width: 5.5cm;
    height: 4cm;
}

button[name="limpiar"]{
    background-color: rgb(219, 22, 22);
    color: rgb(87, 11, 11);
    border: 0;
    font-size: 30;
    height: 2cm;
}

button[id="formulas"]{
    width: 15cm;
    height: 2cm;
}


p[id="marca"]{
    font-size: 40;
    line-height: 50px;
    height: 50px;
    
}

p[id='version']{
    font-size: 20;
    vertical-align: text-bottom;
    text-align: right;
    line-height: 10px;
}
input{
    border: 0;
    text-align: center;
    font-size: 30;
    border-radius: 15px;
}

input[name='num1']{
    width: 4cm;
    height: 2cm;
}
input[name='num2']{
    width: 4cm;
    height: 2cm;
}
input[name='res']{
    width: 6cm;
    height: 2cm;
}
p{  
    color: aliceblue;
    font-family: babasneueblod;
    font-size: 280;
    margin: 0;
    line-height: 250px;
}
button[id='volver']{
    height: 1.5cm;
    width: 2.5cm;
    font-size: 30;
}
table[id='formulas']{
    width: 32cm;
    margin: auto;
}
p[id="tabla"]{
    font-size: 35;
    line-height: 30px;
}
p[id="cirA"]{
    font-size: 35;
    line-height: 30px;
}
p[id="titulo"]{
    font-size: 50;
    line-height: 1cm;
}
th[id="titulo"]{
    height: 2cm;
    background-color: rgb(97, 13, 175);
    border-radius: 15px;
}
th[id="tablaA"]{
    height: 2cm;
    line-height: 20px;
}
th[id="circ"]{
    background-color: blueviolet;
    border-radius: 15px;
    height: 5cm;
    width: 5cm;
}
th[id="cuadro"]{
    background-color: blueviolet;
    border-radius: 15px;
    height: 5cm;
    width: 5cm;
}
th[id="resul"]{
    height: 1cm;
}
th[id="c1"]{
    height: 3cm;
}
th[id="igual"]{
    background-color: rgb(97, 13, 175);
    border-radius: 15px;
    height: 2cm;
}
input[id="radio"]{
    width: 2cm;
    font-size: 10;
}
input[id="resu"]{
    height: 1.5cm;
    width: 18cm;
}
input[name="entrada"]{
    font-size: 25;
    height: .8cm;
    width: 3cm;
}
button[id="igual"]{
    color: rgb(109, 15, 15);
    background-color: rgb(226, 24, 9);
    border: 0;
    height: 2cm;
    width: 16cm;
}